body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea ,em,i,figure{ padding:0; margin:0;  font-weight: normal;font-style: normal;font-size: 100%; font-family:"微软雅黑",Arial, Helvetica, sans-serif; }
ol, ul ,li{list-style: none;}
input { border: none; outline: none; background-color: transparent; }
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
img {border:0;margin:0;padding:0; display:inline-block;vertical-align: middle;}
a{text-decoration:none; cursor:pointer;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix{ zoom:1; position:relative; overflow:hidden; display:block;}
.clearfix:after{ content:" "; position:absolute; width:0px; height:0px; clear:both;}
.container{width: 1200px;margin:0 auto;}

.header { width: 100%; min-width: 1200px; padding-bottom: 16px; background: #f4f1e8; }
/*.header .logo { float: left; }*/
.header .logo img { float: right; }
.header .logo dl { /*float: left;*/ padding: 32px 0 0 0; text-align: center; }
.header .logo dl dt { font-size: 36px; color: #383630; font-weight: bold; /*letter-spacing: 26px;*/ }
.header .logo dl dd { font-size: 16px; color: #383630; /*letter-spacing: 13px;*/margin-top: 2px; }
.header .form_search { float: right; width: 328px; height: 33px; line-height: 33px; border: 1px solid #809f66; box-sizing: border-box; margin-top: 45px; box-shadow: inset 0 0 1px 1px #becbab; }
.header .form_search input[type="text"] { float: left; width: 290px; height: 100%; font-size: 14px; color: #ccc; text-indent: 5px; }
.header .form_search input[type="submit"] { float: right; width: 28px; height: 100%; background: url(../images/search.png) no-repeat center; text-indent: -9999px; }
.nav { width: 100%; min-width: 1200px; background-color: #809f66; line-height: 30px; height: 30px; }
.nav ul { padding: 0 106px; }
.nav li { float: left; font-size: 16px; color: #fff; position: relative; }
.nav li:first-child { padding: 0 36px; }
.nav li a { font-size: 16px; color: #fff; padding: 0 42px; }
.nav li a:hover { color: #ccc; }
.nav li .slide { width: 143px; background-color: #809f66; position: absolute; top: 30px; left: 0; padding: 0 14px; box-sizing: border-box; text-align: center; display: none; z-index: 9999; }
.nav li .slide a { display: block; padding: 0; font-size: 14px; color: #fff; border-top: 1px solid rgba(255,255,255,0.3); }
.nav li .slide a:hover { background: #b3d397; }
.nav li .slide a:first-child { border-top: none; }
.nav li:first-child:hover .slide { display: block; }
.nav span { margin-left: 5px; }
.banner { width: 100%; min-width: 1200px; }
.banner img { display: block; width: 100%; }
.banner .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction { bottom: 0; background-color: #fff; }
.banner .swiper-pagination-bullet { background-color: transparent; border: 1px solid #809f66; }
.banner .swiper-pagination-bullet-active { background-color: #809f66; }
.content { width: 100%; min-width: 1200px; background-color: #f4f1e8; padding-bottom: 20px; }
.content .content_wrap { background-color: #fff; padding: 0 10px 10px 10px; box-sizing: border-box; }
.content .content_wrap .hot { border: 1px solid #ccc; padding: 4px; }
.content .content_wrap .hot li { float: left; width: 25%; padding: 4px; box-sizing: border-box; }
.content .content_wrap .hot li h5 { font-size: 24px; color: #809f66; border-bottom: 1px solid #809f66; margin-bottom: 15px; padding-bottom: 10px; cursor: pointer; }
.content .content_wrap .hot li h5:hover { font-weight: bold; }
.content .content_wrap .hot li a { position: relative; display: block; }
.content .content_wrap .hot li a:hover:after { content: ''; width: 100%; height: 100%; border: 1px solid #434343; position: absolute; left: -1px; top: -1px; box-shadow: 0 0 6px 2px rgba(180,176,164,0.8); }
.content .content_wrap .hot li a:hover .desc { background-color: rgba(128,159,102,1) }
.content .content_wrap .hot li img { display: block; width: 100%; height: 422px; }
.content .content_wrap .hot li .desc { position: absolute; bottom: 28px; left: 0; right: 0; width: 100%; background-color: rgba(128,159,102,0.6); text-align: center; padding: 24px 0; }
.content .content_wrap .hot li .desc h6 { font-size: 24px; color: #fff; font-weight: bold; }
.content .content_wrap .hot li .desc p { font-size: 14px; color: #fff; }
.content .content_wrap .tuijian { margin-top: 22px; }
.content .content_wrap .tuijian h5 { background-color: #809f66; text-align: center; font-size: 28px; color: #fff; height: 80px; line-height: 80px; padding: 0 25px; box-sizing: border-box; position: relative; }
.content .content_wrap .tuijian h5 a { position: absolute; right: 25px; font-size: 16px; color: #fff; }
.content .content_wrap .tuijian h5 a:hover { text-decoration: underline; }
.content .content_wrap .tuijian li { float: left; width: 25%; margin-top: 20px; padding: 1px; box-sizing: border-box; }
.content .content_wrap .tuijian li a { display: block; position: relative; }
.content .content_wrap .tuijian li a.temp { margin-top: 10px; height: 310px; }
.content .content_wrap .tuijian li a.temp:hover:after { content: ''; width: 100%; height: 100%; border: 1px solid #434343; position: absolute; left: -1px; top: -1px; box-shadow: 0 0 6px 2px rgba(180,176,164,0.8); }
.content .content_wrap .tuijian li a.temp:first-child { margin-top: 0; }
.content .content_wrap .tuijian li img { display: block; width: 100%; height: 100%; }
.content .content_wrap .tuijian li .tip { width: 180px; height: 34px; text-align: center; line-height: 34px; background-color: #809f66; font-size: 16px; color: #fff; position: absolute; bottom: 22px; left: 50%; margin-left: -90px; }
.content .content_wrap .tuijian li.lunbo { width: 50%; height: 630px; padding: 1px 10px; box-sizing: border-box; }
.content .content_wrap .tuijian li.lunbo img { height: 630px; }
.content .content_wrap .tuijian li.lunbo .swiper-button-prev, .swiper-container-rtl .swiper-button-next { background-color: rgba(128,159,102,0.6); left: 0; width: 50px; height: 50px; }
.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white { background-color: rgba(128,159,102,0.6); right: 0; width: 50px; height: 50px; }
.content .content_wrap .xianshi { margin-top: 22px; background-color: #809f66; padding-bottom: 20px; }
.content .content_wrap .xianshi h5 { background-color: transparent; text-align: center; font-size: 28px; color: #fff; height: 80px; line-height: 80px; padding: 0 25px; box-sizing: border-box; position: relative; }
.content .content_wrap .xianshi h5 a { position: absolute; right: 25px; font-size: 16px; color: #fff; }
.content .content_wrap .xianshi h5 a:hover { text-decoration: underline; }
.content .content_wrap .xianshi ul { padding: 0 6px; box-sizing: border-box; }
.content .content_wrap .xianshi li { float: left; width: 25%; margin-top: 20px; padding: 6px; box-sizing: border-box; }
.content .content_wrap .xianshi li a.img { display: block; position: relative; box-sizing: border-box; }
.content .content_wrap .xianshi li a.img img { width: 100%; }
.content .content_wrap .xianshi li a.img:hover:after { content: ''; width: 100%; height: 100%; border: 1px solid #434343; position: absolute; left: -1px; top: -1px; box-shadow: 0 0 6px 2px rgba(87,122,65,0.8); }
.content .content_wrap .xianshi li a.img .time { width: 180px; height: 34px; text-align: center; line-height: 34px; background-color: rgba(192,192,192,0.6); font-size: 16px; color: #7d0101; position: absolute; top: 30px; right: 0; }
.content .content_wrap .xianshi li .desc_btn { font-size: 16px; line-height: 16px; color: #fff; margin-top: 12px; }
.content .content_wrap .xianshi li .desc_btn p { display: inline-block; width: 170px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; cursor: pointer; }
.content .content_wrap .xianshi li .desc_btn p:hover,.content .content_wrap .xianshi li .desc_btn p.active { text-decoration: underline; }
.content .content_wrap .xianshi li .desc_btn a { display: inline-block; width: 52px; height: 20px; text-align: center; line-height: 20px; background-color: #fff; color: #809f66; margin-left: 10px; box-sizing: border-box; position: relative; }
.content .content_wrap .xianshi li .desc_btn a:hover:after { content: ''; border: 1px solid #fff; width: 56px; height: 24px; position: absolute; left: -3px; top: -3px; }
.footer { width: 100%; min-width: 1200px; padding: 58px 0 62px; background-color: #809f66; }
.footer h1 { text-align: center; }
.footer dl { display: inline-block; text-align: center; vertical-align: middle; margin-right: 40px; }
.footer dl dt { font-size: 36px; color: #383630; font-weight: bold; }
.footer dl dd { font-size: 16px; color: #383630; margin-top: 3px; }
.footer ul { padding: 70px 50px 0; box-sizing: border-box; }
.footer li { float: left; width: 25%; padding: 0 50px; box-sizing: border-box; border-left: 1px solid #fff; letter-spacing: 2px; }
.footer li:first-child { border-left: none; }
.footer li h5 { text-align: center; font-size: 18px; color: #fff; font-weight: bold; margin-bottom: 25px; }
.footer li p { text-align: left; font-size: 14px; color: #fff; }
.fix_wrap { position: fixed; right: 0; top: 50%; margin-top: -220px; z-index: 9999; }
.fix_wrap li { position: relative; margin-top: 16px; }
.fix_wrap li i { display: block; width: 69px; height: 69px; border-radius: 50%; background-color: transparent; background-repeat: no-repeat; background-position: center; }
.fix_wrap li.contact i { background-image: url(../images/contact.png); }
.fix_wrap li.shop i { background-image: url(../images/shop.png); }
.fix_wrap li.return i { background-image: url(../images/return.png); }
.fix_wrap li .hide_btn { display: block; width: 244px; height: 157px; background-color: #809f66; position: absolute; left: -263px; top: 0; padding: 10px; box-sizing: border-box; display: none; }
.fix_wrap li .hide_btn:after { content: ''; width: 0; height: 0; border: 9px solid transparent; border-left: 9px solid #809f66; position: absolute; right: -18px; top: 30px; }
.fix_wrap li .hide_btn h6 { font-size: 16px; color: #fff; text-align: center; margin-bottom: 10px; }
.fix_wrap li .hide_btn dl { float: left; width: 50%; text-align: center; }
.fix_wrap li .hide_btn dd { font-size: 16px; color: #fff; }
.fix_wrap li:hover .hide_btn { display: block; }
